.pixel{
	width:40%;
}
.pixel2
{
	width:20%;
}
.car
{
	height:80%;
}
.modal-body{
	font-size: 15px;
}
.card-text
{
	font-size:2 px;
}
.tablakep
{
	width:150px;
}
td{
	text-align:center;
}
body
{
	background-image:url(../img/rts/hatter.jpg);
}
h3
{
	text-align:center;
}
