h1, h2, h3, h4, h5, h6{
    text-align: center;
}
.rl-kepek{
    width: 100%;
}
.container{
    background-color: white; 
}
body{
    background-color: black;
    
}
@media screen and (min-width: 576px){
    .container{
        border-radius: 10px 10px;
    }
}
.vel{
    width: 95%;
    padding: 3px;
    background-color: whitesmoke;
    margin: auto;
    border-radius: 3px 3px;
    border-left: 1px solid red;
}