h1, h2, h3, h4, h5, h6{
    text-align: center;
}
.carousel-kepek{
    width: 100%;
}
.row{
    background-color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}
.blackbox{
    background-color: rgba(0, 0, 0, 0.5);
}
body{
    background-color: black;
}
@media screen and (min-width: 576px){
    .row{
        border-radius: 10px 10px;
    }
    .vel{
        width: 95%;
    }
}
.vel{
    background-color: whitesmoke;
    margin: auto;
    border-radius: 3px 3px;
    border-left: 1px solid red;
    padding: 5px;
}