body{
	background-image:url(../img/szerep/dad.jpg);
	background-repeat:no-repeat;
	background-size:100%;
}
.hatter{
	background-color:rgba(100,149,237,0.9);
	border:solid 3px black;
}
ul{
	font-size:30px;
}
.car{
	height:400px;
}